border-radius(){
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments
}

padding2(){
	padding: arguments
}

rem(a){
	a * 37.5 * 3 rem
}

body a
  display inline-block
  padding: 2px 5px
  font: 12px/1.4 Arial, sans-serif
  background: black
  color: #eee
  border-radius: 2px
  margin: rem(20px) rem(20px) rem(10px)

form input
  padding: 5px
  border: 1px solid
  border-radius: 5px
  background: url(22.png);
  
  
div{
	margin: rem(20)
	background: url(laba.svg);
	html & {
		padding2: 12px
		background:url(baozhan.svg)
	}
}